{% extends 'base.html' %}

{%block content %}

  <!--payment info form-->
  <section class="checkout">
    <div class="container">
      <h2>Checkout</h2>
      <form id="checkoutForm" action="javascript:;" onsubmit="displayReceipt(event)">
        <label for="cardNumber">Card Number</label>
        <input type="text" maxlength="16" id="cardNumber" name="cardNumber" required>

        <label for="cardName">Cardholder Name</label>
        <input type="text" maxlength="128" id="cardName" name="cardName" required>

        <label for="address">Address</label>
        <input type="text" maxlength="128" id="address" name="address" required>

        <label for="expiryDate">Expiry Date</label>
        <input type="month" id="expiryDate" name="expiryDate" required>

        <label for="cvv">CVV</label>
        <input type="number" min="0" max="999" id="cvv" name="cvv" required>

        <input type="submit">
      </form>
    </div>
  </section>

  <!--receipt (hidden by default)-->
  <div class="receipt-window" id="receiptWindow">
    <button onclick="hideReceipt()" class="receipt-close">x</button>
    <div class="receipt-info">
      <h2>Receipt Summary</h2>
      <div id="receiptItems"></div>
      <p>Total: <span id="receiptTotal"></span></p>
      <hr>
    </div>
    <button type="submit" onclick="order()" class="toCheckout">Place order</button>
  </div>

  <script>

    //returns the cost of an item + the cost of all it's toppings
    function calculatePrice(item) {
      total = 0

      total += item.price
      item.toppings.forEach(topping => {
        total += topping.price
      })

      return total
    }


    //generate an html receipt that contains all items (and their toppings) in the cart, and displays the total cost of the order.
    function displayReceipt(event) {
      event.preventDefault();  //do nothing with event

      //get infromation from payment form
      const cardNumber = document.getElementById("cardNumber").value;
      const cardName = document.getElementById("cardName").value;
      const address = document.getElementById("address").value;
      const expiryDate = document.getElementById("expiryDate").value;
      const cvv = document.getElementById("cvv").value;

      //div that contains the order infromation and customer info
      const receiptItemsContainer = document.getElementById("receiptItems");
      //span to contain order cost
      const receiptTotalContainer = document.getElementById("receiptTotal");


      // Retrieve cart items from local storage or use an empty array as default
      const cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];

      // Generate the receipt summary HTML
      let receiptHTML = `
        <p>Card Number: ${cardNumber}</p>
        <p>Cardholder Name: ${cardName}</p>
        <p>Address: ${address}</p>
        <p>Expiry Date: ${expiryDate}</p>
        <p>CVV: ${cvv}</p>
        <h3>Items:</h3>
        <ul>
      `; // ^^^ start unordered list here


      // hold the total cost of the order
      let total = 0;
      // Iterate over the each item in the cart and add it and its toppings to the receiptHTML, and calculate the total cost
      cartItems.forEach(item => {
        //list item start
        receiptHTML += `<li>${item.name} - $${item.price.toFixed(2)}`;  //add item name and price to receipt
        
        //add each topping name and price (if any) below the item 
        if (item.toppings.length != 0){
          receiptHTML += `<div class="receiptToppings">`
          item.toppings.forEach(topping =>{
            receiptHTML += `<i class="receiptTopping">${topping.name} - $${topping.price.toFixed(2)}<br></i>`
          })
          receiptHTML += `</div>`
        }
        
        //list item end
        receiptHTML += `</li>`
        total += calculatePrice(item); //add price of item and it's toppings to the total
      });

      // end unordered list
      receiptHTML += `</ul>`;

      //update div with generated receipt HTML
      receiptItemsContainer.innerHTML = receiptHTML;
      //update span with total price of the order
      receiptTotalContainer.textContent = `$${total.toFixed(2)}`;

      // Show the receipt window
      const receiptWindow = document.getElementById("receiptWindow");
      receiptWindow.style.display = "block";
    }



    //convert cart information to JSON string, send string in a POST request for processing by Django
    function order() {
      
      //get cart data
      let cartItems = JSON.parse(localStorage.getItem('cartItems')) || []

      //don't place order if cart is empty
      if (cartItems.length <= 0){
        alert("You must have at least 1 item in the cart to place an order.")
        return;
      }

      //the following code constructs an array of the item IDs and their topping IDs from the cart.  Customer information is included as well.
      //only necessary information like the item ids are included in the order. The remaining information (like item names and prices) can be determined server-side using the IDs as database primary keys.
      orderData = []

      //add each item ID and its topping IDs from the cart to the orderData array
      cartItems.forEach(item =>{
        
        //create array of topping IDs/pks (primary keys) for the item 
        toppingPks = []
        item.toppings.forEach(topping => {
          toppingPks.push(topping.toppingPK)
        })
        
        //append item pk, and its topping pks to the order data
        orderData.push({
          pk: item.itemPK,
          toppingPks: toppingPks
        })
      })

      //append customer info to the end of the order data
      const cardName = document.getElementById("cardName").value;
      const address = document.getElementById("address").value;
      orderData.push({address: address, name: cardName})
      orderData = JSON.stringify(orderData)  //stringify order data in order to be sent

      console.log(orderData)

      //submit order data
      let response = fetch("{% url 'order' %}", {
        method: "POST",
        body: orderData,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}"
        },
        mode: "same-origin",
      })
      
      //handle response
      .then(response => response.json())
      .then(json => {
        // a boolean (set to True) is returned from the server if the order was successful
        if (typeof(json) == "boolean") {
          if (json){ //check if response is True, then clear cart and return to cart page
            localStorage.removeItem('cartItems');  //clear cart
            alert(`Your order has been placed!`);
            window.location.href = '{% url 'cart' %}'; // Redirect back to the cart
          }
          else {
            alert(`Something went wrong`);
            console.log("This should not happen.")
            hideReceipt()
          }
        }
        else {  //An error message string is returned if order was sent and not accepted due to a failure on the backend, or if the backend order input vailidation failed.
          alert(`${json}`)
          hideReceipt()
        }
      })

      //failed to send order data
      .catch(function(){ 
        alert("Your order could not be placed, please try again later.");
        hideReceipt()
      })
    }

    // Hide receipt window function
    function hideReceipt() {
      const receiptWindow = document.getElementById("receiptWindow");
      receiptWindow.style.display = "none";
    }

    // function to test the calculatePrice function, to make sure the total cost of an order is correct
    function verifyTotal() {
      // 1 margherita Pizza $12.99 w/ extra tomatoes $1.99  (testing item with 1 topping)
      // 1 cheese pizza - $8.99     (testing item with no toppings)
      // (testing same item with different topping combos)
      // 1 hawaiian $10.99 w/ extra ham $1.99 & extra pineapple $0.99
      // 1 hawaiian $10.99 w/ extra ham $1.99
      // 1 hawaiian $10.99 w/ extra pineapple $0.99 
      // 1 hawaiian $10.99
      // 2 meat lovers pizza 10.99 (testing duplicate item)
      // total should be $101.85 (calculated manually)
      expectedTotal = 101.85

      // cart data from adding the above items to the cart
      let testCartItems = [
        {"cartId":2,"itemPK":2,"name":"Margherita Pizza","price":12.99,"toppings":[{"toppingPK":5,"name":"Extra tomatoes","price":1.99}]},
        {"cartId":3,"itemPK":1,"name":"Cheese pizza","price":8.99,"toppings":[]},
        {"cartId":4,"itemPK":6,"name":"Hawaiian Pizza","price":10.99,"toppings":[{"toppingPK":10,"name":"Extra Ham","price":1.99},{"toppingPK":11,"name":"Extra Pineapple","price":0.99}]},
        {"cartId":5,"itemPK":6,"name":"Hawaiian Pizza","price":10.99,"toppings":[{"toppingPK":11,"name":"Extra Pineapple","price":0.99}]},
        {"cartId":6,"itemPK":6,"name":"Hawaiian Pizza","price":10.99,"toppings":[{"toppingPK":10,"name":"Extra Ham","price":1.99}]},
        {"cartId":7,"itemPK":6,"name":"Hawaiian Pizza","price":10.99,"toppings":[]},
        {"cartId":8,"itemPK":4,"name":"Meat Lovers Pizza","price":10.99,"toppings":[{"toppingPK":8,"name":"Extra Sausage","price":2.99}]},
        {"cartId":9,"itemPK":4,"name":"Meat Lovers Pizza","price":10.99,"toppings":[{"toppingPK":8,"name":"Extra Sausage","price":2.99}]}
      ]

      //create total from the test cart
      testTotal = 0;
      testCartItems.forEach(item => {
        testTotal += calculatePrice(item)
      })


      //check if total matches expected total
      if (testTotal.toFixed(2) != expectedTotal){
        console.log(`Calculated price ${testTotal.toFixed(2)} was incorrect, should be ${expectedTotal}`)
      }
      else{
        console.log("Calculated price was the same as the expected value")
      }
    }
    //verifyTotal();

  </script>

{% endblock %}