{% extends 'base.html' %}
{% load static %}

{%block content %}

  <!--menu template (information is dynamically filled in by Django backend)-->
  <section class="featured-products">
      <div class="container">
        <h2>Featured Products</h2>
        <div class="product-grid">
          <!--create a product div for each item in the Item database.  Contains item information-->
          {% for item in ItemList %}
            <div class="product">
              <div class="productInner">
                <img src="{% static 'Pizza/Menu/' %}{{ item.filename }}" alt="An image of {{ item.name }}">
                <h3>{{item.name}} - ${{item.price}} <br>{{item.calories}} Cal.</h3>
                <div class="productToppings">
                  <p>{{item.description}}</p>
                  <!--create a checkbox for each topping the item has-->
                  {% for topping in item.toppings.all %}
                    <input type="checkbox" name="{{item.pk}}topping" id="{{item.pk}}topping{{topping.pk}}" value="{{topping.pk}}">
                    <label for="{{item.pk}}topping{{topping.pk}}">{{ topping.name }}</label>
                    <label for="{{item.pk}}topping{{topping.pk}}"> - {{topping.calories}} Cal.</label><br>
                    $<label for="{{item.pk}}topping{{topping.pk}}">{{topping.price}}</label><br>
                  {% endfor %}
                  <button onclick="addToCart('{{ item.name }}', {{ item.price }}, {{item.pk}})">Add to Cart</button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </section>
    

  <script>
    //a function to add an item (with topping information) to an array
    function addToCart(productName, price, itemId) {

      //get all checkboxes for the item (the topping selections)
      const checkboxes = document.querySelectorAll(`input[name="${itemId}topping"]`);

      //create an array containing a topping object/dict for each selected checkbox (for the specific item)
      const selectedToppings = [];
      //for each topping checkbox
      checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {  //if selected, add topping to array of selected toppings
          const topping = {
            toppingPK: parseInt(checkbox.value),  //topping id/pk
            name: document.querySelectorAll(`label[for="${checkbox.id}"]`)[0].innerText,  //get topping name from the first label
            price: parseFloat(document.querySelectorAll(`label[for="${checkbox.id}"]`)[2].innerText)  //get topping price and convert to float
          }
          selectedToppings.push(topping); //add to array
        }
      });

      //get existing cart items array, or empty array if none
      let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
      
      //create item object/dict
      const item = {
        cartId: getCartId(cartItems),
        itemPK: itemId,
        name: productName,
        price: price,
        toppings: selectedToppings
      };
      
      //add item to the array
      cartItems.push(item);

      //update local storage cart items 
      localStorage.setItem('cartItems', JSON.stringify(cartItems));
      
      //construct alert with the item and topping info added to cart
      toppingsStr = ""
      selectedToppings.forEach(topping => {toppingsStr += `${topping.name}, `})
      alert(selectedToppings.length != 0 ? `Added ${productName} w/ ${toppingsStr}to the cart.` : `Added ${productName} to the cart.`);
    }

    //returns the largest cartId in the cart +1
    function getCartId(cartItems){

      //get cart id of last item added to array and add 1
      if (cartItems.length > 0) {
        newId = cartItems[cartItems.length - 1].cartId + 1
      } else {
        newId = 1
      }
      return newId
    }
  </script>
{% endblock %}
